.album-item {
  & > .album__thumbnail {
    & > img {
      width: 190px;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
    }
  }
  & > .album__name {
    font-weight: bold;
  }
}
